* {
  margin: 0;
  padding: 0;
  border: 2px solid #1ecf77;   /* comment to hide green borders */
}

body {
  font-family: "Fredoka One", cursive;
  font-size: 1.125rem;
  width: 100%;
}

img {
  max-width: 100%;
}

a {
  font-size: 1rem;
}

.nav-icon {
  width: 50%;
  margin: auto;
  padding: 15%;
}

.burger-logo {
  width: 50px;
}

.burger-logo:hover {
  width: 55px;
  transition: 0.3s;
}

.icon:hover {
  width: 60%;
  transition: 0.3s;
}

.nav-container {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-items: flex-start;
}

.title {
  padding: 1em;
}

.title h2 {
  text-transform: uppercase;
  font-size: 1em;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  border: 2px solid #eaeceb;
  box-shadow: 1px 2px 5px #eaeceb;
  padding-top: 60px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
}

.content-container {
  text-align: center;
}

.card-container {
  border: 2px solid #eaeceb;
  box-shadow: 1px 2px 5px #eaeceb;
  width: 50%;
  min-width: 320px;
  margin: 25px auto 75px auto;
  padding: 1em;
}

.buttons {
  text-align: start;
  padding: 1em;
}

.input {
  padding: 1em;
}

.img-container {
  padding: 1em;
}

.header-container {
  border: 2px solid rgb(255, 0, 170);
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding: 1em;
}

.footer-container {
  background-color: rgb(247, 247, 247);
  padding: 1em;
  bottom: 0px;
}
