* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: lato-italic;
  src: url(assets/fonts/Lato-LightItalic.ttf);
}

@font-face {
  font-family: lato;
  src: url(assets/fonts/Lato-Regular.ttf);
}

body {
  font-family: lato, sans-serif;
}

button:focus {
  outline: none;
}


button {
  font-size: 15pt;
  margin-top: 25px;
  width: 180px;
  padding: 15px;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: lato, sans-serif;
  font-weight: 700;
  color: white;
  border: 1px solid #390047;
  background-color: #690083;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.226);
}

button:hover {
  background-color: #390047;
  transition: 0.3s;
  cursor: pointer;
}

#black-overlay.hide {
  visibility: hidden;
}

#black-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.2s;
}

.hamburger-menu {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 12px;
  margin-right: 5px;

}

.hamburger-menu:hover {
  transition: 0.3s;
  background-color: #530068;
}

#sideNav {
  height: 100%;
  position: fixed;
  width: 0px;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #530068;
  overflow-x: hidden;
  transition: width 0.5s;
  box-shadow: 5px 0 30px #00000085;
  padding-top: 60px;
}

#sideNav a {
  text-decoration: none;
  font-family: "Cinzel", serif;
  font-size: 20px;
  color: white;
  transition: 0.3s;
}

#menu-icon {
  width: 20px;
}

#sideNav #menu-content {
  display: block;
  padding: 10px 8px 10px 32px;
}

#sideNav .closebtn{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#sideNav :hover {
  transition: 0.3s;
  background-color: #390047;
}

#sideNav .closebtn > div {
  padding: 10px 10px 10px 15px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 0px;
  font-size: 45px;
  border-radius: 0 0 0 50%;
}

.nav-icon {
  display: flex;
  align-items: center;
}

.icon > img {
  width: 30px;
  margin-right: 10px;
}

.header-container {
  background-color: #62007a;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.144);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-items: flex-start;
}

.title > h2 {
  font-size: 15pt;
  font-family: 'Cinzel', serif;
  color: white;
}

.content-container {
  margin-top: 35px;
}

#subtitle {
  font-size: 20pt;
  font-family: "Cinzel", serif;
  line-height: 19pt;
  text-align: center;
}

.card-container {
  text-align: center;
  border: 2px solid #eaeceb;
  box-shadow: 1px 2px 5px #eaeceb;
  width: 60%;
  margin: 25px auto 75px auto;
  padding: 1em;
}

.choices-container {
  padding: 0 20px 0 20px;
}

.input-container {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}

.img-container {
  margin-top: 20px;
  padding: 20px;
}

.img-container > img {
  width: 100%;
}

.radio-style {
  padding-top: 1px;
}

.question{
  padding: 5px;
  font-size: 15pt;
  font-weight: 700;
  font-family: 'Cinzel', serif;
}

.container {
  text-align: center;
  font-family: 'Cinzel', serif;
  text-transform: capitalize;
  width: 60%;
  font-size: 15pt;
  /* min-width: 320px; */
  margin: 25px auto 75px auto;
  padding: 1em;
}

.container > img {
  width: 280px;
}

#sortingHat {
  width: 100%;
}

#next {
  margin-bottom: 25px;
}

.quiz-start-img {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#flag {
  margin: 5px;
  width: 40vmin;
}

#quiz-start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quiz-start-container.hide {
  visibility: hidden;
  position: absolute;
}

.quiz-start-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.choice {
  text-align: left;
  margin-left: 10px;
  display: inline-block;
  font-size: 14pt;
  line-height: 16pt;
}

@media screen and (min-width: 530px){
  #subtitle {
    font-size: 30pt;
    line-height: 28pt;
  }

  .question{
    font-size: 18pt;
  }

}
